#refreshContainer {
    position: absolute;
    left: 0;
    top: 44px;
    bottom: 50px;
    width: 100%;
}

.filter {
    width: 92%;
    margin: 10px auto 0 auto;
}

.filter .mui-col-xs-6 {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    background: #efeff4;
}

.filter .mui-icon {
    font-size: 12px;
    color: black;
}

#refreshContainer {
    position: absolute;
    left: 0;
    top: 44px;
    bottom: 50px;
    width: 100%;
}

.product .title {
    width: 100%;
}

.product ul li img {
    width: 100%;
}

.product ul li {
    width: 50%;
}

.product ul li {
    display: block;
    float: left;
    box-shadow: 0 0 5px #ccc;
    padding: 5px;
    color: #bcbac0;
    font-size: 14px;
}

.product ul li .name {
    display: block;
    color: #8f8f94;
    font-size: 14px;
    text-align: center;
}

.product ul li p {
    padding-top: 5px;
    text-align: center;
}

.product ul li p span:first-child {
    color: #f20;
    padding-right: 2px;
}

.product ul li p span:last-child {
    text-decoration: line-through;
    padding-left: 2px;
}

.product ul li .buy-now {
    display: block;
    width: 80px;
    height: 30px;
    background: #006699;
    color: white;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 5px auto;
    border-radius: 4px;
}